<h1>New hook</h1>

<form action="/hooks" method="post">
  <input type="text" name="name" placeholder="Name" required></input>
  <input type="text" name="event" placeholder="Event" require></input>
  <textarea name="script" placeholder="Script"></textarea>
  <button type="submit">Create hook</button>
</form>
